#login {
  background-color: aquamarine;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login div {
  padding: 10px;
}
